body {
  margin: 0;
  background: #000;
  font-family: sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* NAVBAR */
.navbar {
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

.navbar ul {
  list-style: none;
  margin-top: 10px;
  padding: 0;
}

.navbar li {
  display: inline-block;
  margin: 0 15px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.navbar ul li img{
    width: 50%;
}

/* COLLAGE */
.collage-container {
  display: flex;
  width: 1080px;
  border: 1px solid white;
  padding: 10px;
  background-color: #111;
}

.main-image {
  flex: 2;
  margin-right: 5px;
}

.main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.side-images {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
}

.side-images img {
  width: 210px;
  height: 100%;
  object-fit: cover;
}

/* PRODUCTOS */

.titulo{
  text-align: center;
  margin-top: 70px;
}

.productos-container{
  display: block;
}

.productos-section{
  display: flex;
}

h3{
  font-size: 30px;
}

.container-movil{
  display: none;
}

.cont {
    max-width: 300px;
    margin: 2rem auto;
    border: 3px solid white;
    border-radius: 22px;
}

.cont:hover{
    border: 0px solid wheat;
}

.product-card {
    background-color: var(--card-background);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.product-card__image {
    height: 250px;
    overflow: hidden;
}

.product-card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.product-card:hover .product-card__image img {
    transform: scale(1.05);
}

.product-card__info {
    padding: 20px;
}

.product-card__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--text-color);
}

.product-card__description {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 20px;
}

.product-card__price-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card__price {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--primary-color);
}

.product-card__btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-card__btn:hover {
    background-color: #C71729;
}

#button-vermas{
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: block;
}

#button-vermas a{
    background-color: white;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    transition: transform 0.3s ease;
}

@media (min-height: 720px) and (max-height: 900px) {

  /*BANNER*/
      h3{
      font-size: 20px;
    }

    .collage-container{
      width: 350px;
    }

      .side-images img{
      width: 110px;
      height: 100%;
    }

    .product-card__info {
    padding: 10px;
}

    .cont {
        max-width: 150px;
    }

    .product-card__image {
        height: 170px;
    }

    .product-card__title {
        font-size: 1.2rem;
    }

    .product-card__description {
        font-size: 0.8rem;
    }

    .product-card__price {
        font-size: 0.8rem;
    }

    .product-card__btn {
        padding: 8px 16px;
        font-size: 0.8rem;
    }

    /*PRODUCTOS*/
        .container-desktop{
      display: none;
    }

    .container-movil{
      display: block;
    }

}

@media (max-height: 720px) {

    /*BANNER*/
      h3{
      font-size: 20px;
    }

    .collage-container{
      width: 350px;
    }
      .side-images img{
      width: 110px;
      height: 50%;
    }

    .cont {
        max-width: 150px;
          margin: 1rem auto;
    }

    .product-card__image {
        height: 100px;
    }

    .product-card__title {
        font-size: 0.8rem;
    }

    .product-card__description {
        font-size: 10px;
    }

    .product-card__price {
        font-size: 15px;
    }

    .product-card__btn {
        padding: 8px 16px;
        font-size: 0.8rem;
    }

        /*PRODUCTOS*/
        .container-desktop{
      display: none;
    }

    .container-movil{
      display: block;
    }
}